Cython==0.29.21
librosa==0.9.2
matplotlib==3.3.1
scikit-learn==1.0.2
scipy
numpy==1.21.6
tensorboard
unidecode
jamo
jieba
protobuf
inflect
indic_transliteration==2.3.37
opencc==1.1.1
phonemizer
num2words
